 body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #001f3f, #003a6c);
    height: 100%;
    align-items: center;
}

.snowflakes {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.snowflake {
    position: absolute;
    top: -10%;
    color: white;
    font-size: 1rem;
    opacity: 0.8;
    animation: fall infinite linear, sway infinite ease-in-out;
}

@keyframes fall {
    0% {
        top: -10%;
    }
    100% {
        top: 200%; 
    }
}

    /* Randomized animations for snowflakes */
.snowflake:nth-child(1) {
    left: 5%;
    animation-duration: 5s;
    animation-delay: 0s;
    font-size: 1.2rem;
}

.snowflake:nth-child(2) {
    left: 15%;
    animation-duration: 7s;
    animation-delay: 2s;
    font-size: 1rem;
}

.snowflake:nth-child(3) {
    left: 25%;
    animation-duration: 6s;
    animation-delay: 1s;
    font-size: 1.4rem;
}

.snowflake:nth-child(4) {
    left: 35%;
    animation-duration: 8s;
    animation-delay: 3s;
    font-size: 1rem;
}

.snowflake:nth-child(5) {
    left: 45%;
    animation-duration: 5.5s;
    animation-delay: 1.5s;
    font-size: 1.3rem;
}

.snowflake:nth-child(6) {
    left: 55%;
    animation-duration: 9s;
    animation-delay: 4s;
    font-size: 1rem;
}

.snowflake:nth-child(7) {
    left: 65%;
    animation-duration: 4s;
    animation-delay: 2s;
    font-size: 1.5rem;
}

.snowflake:nth-child(8) {
    left: 75%;
    animation-duration: 6.5s;
    animation-delay: 0.5s;
    font-size: 1.1rem;
}

.snowflake:nth-child(9) {
    left: 85%;
    animation-duration: 7.5s;
    animation-delay: 3.5s;
    font-size: 1.3rem;
}

.snowflake:nth-child(10) {
    left: 95%;
    animation-duration: 5s;
    animation-delay: 2s;
    font-size: 1.2rem;
}


/* Image Container */
.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.Header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rockwell Extra Bold", serif;
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 20;
}

.Header-title h1:hover {
    color: rgb(208, 169, 71);
    transform: scale(1.5);
}

/* karuseli */

.carousel_image {
    height: 700px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

.carousel_link {
    position: absolute;
    left: 25%;
    top: 40%;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    align-self: center;
}

.carousel_link:hover {
    font-size: 60px;
}

/* Header Section */
.links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.links a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Rockwell, serif;
    font-size: 20px;
    text-align: center;
}

.links a:hover {
    transform: scale(1.2);
    color: rgb(208, 169, 71);

}

.links a:active {
    transform: scale(1.5); 
    color: green;
}

.links h1{
    color: green;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Rockwell, serif;
    font-size: 20px;
    text-align: center;
}
/* Categories Section */
.Categories, .Products, .Discounts, .Blogs {
    font-family: "Rockwell Extra Bold";
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}

.Categories-p{
    font-family: Rockwell;
    font-size: 24px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}

/* Cards Section */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
    
}

.cards {
    border: 1px solid black;
    width: 20%;
    max-height: 5%;
    background-color: rgba(59, 248, 157, 0.5);
    text-align:left;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    
    
}

.cards img {
    width: 100%;
    height: auto;
}

.cards-p{
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.49px;
    text-align: bottom;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.cards-p2{
    font-family: Rockwell;
    font-size: 24px;
    font-weight: 600;
    line-height: 25.18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.cards-p3{
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    padding: 16px 7px 16px 7px;
    gap: 10px;
    float: left bottom;

}

.cards a {
    color: #1c1212;
    text-decoration: none;
    font-size:19px;
    
}

.cards a:hover {
    color: #000000;
    transform: scale(1.3); 
}
/* Blogs Section */
.Blogs-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin: 10px auto;
    padding: 10px;
}

.Blogs-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: calc(50% - 20px);
    box-sizing: border-box;
   
}

.Blogs-Photo {
    width: 80% ;
    border: 1px solid black;
    background-color: rgba(59, 248, 157, 0.5);
    padding: 5px;
    margin-bottom: 10px;
}

.Blogs-h1{
    font-family: Rockwell Extra Bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

<<<<<<< HEAD
.Blogs-item p{
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: inline;
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

=======
>>>>>>> 2da0b7353575719607bbd27f7e52ae5c9248d36d
.Blogs-item1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin: 0 auto !important;
   
}

.Blogs-Photo1 {
    width: 100% ;
    border: 1px solid black;
    background-color: rgba(59, 248, 157, 0.5);
    padding: 5px;
    margin-bottom: 10px;
    
}
/* Footer Section */
.Footer {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0047a3;
    max-width: 100%; 
}

.Footer-h1 {
    font-family: Rockwell Extra Bold, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.Footer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    size: 56px;
}

.Footer-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.Footer-icons img:hover {
    transform: scale(1.1);
}

.Footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.Footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.Footer-links a:hover {
    color: #000000;
    transform: scale(1.1); 
}

/* about page */

.about_image {
    height: 600px;
    width: 100%;
    background-image: url(../images/about\ us.jpg);
    background-size: cover;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
}

.about_image_h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about_h1 {
    color: #495057;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:normal;
    text-align: center;
}

.myimage {
    height: 25%;
    width: 25%;
    display: inline-block;
    border-radius: 25px;
}

.about_us {
    background-color:#a9afb4;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/*contact page*/
.contact_us {
    background-color:#a9afb4;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 30px;
}

.contact_us_h1 {
    color: #062d53;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
}

.contact_us_h1a {
    color: #062d53;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
}

.contact_us_h1a:hover {
    font-size: 45px;
    color: #0a63bb;
}

.contact_us_image {
    height: 100px;
    width: 100px;
}

.contact_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.agarvicisaxeli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
/*products page*/
.product-container{
    border: 1px solid black;
    width: 60%;
    height: 80%;
    background-color: rgba(59, 248, 157, 0.5);
    text-align:center;
    align-items:left;
    margin: 0 auto;
    box-sizing: border-box;
}

.product-container h1{font-family: Rockwell Extra Bold;
    font-size: 24px;
    font-weight: 800;
    line-height: 28.18px;
    text-align:center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 0px;
    
    }

.product-container p{
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.49px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: inline;
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-container img{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

.product-container a {
    color: #1c1212;
    text-decoration: none;
    font-size:19px;
    margin-bottom: 5px;
    
}

.product-container a:hover {
    color: #000000;
    transform: scale(1.1); 
}
/* Responsive Design */
@media (max-width: 1024px) {
    .Blogs-item {
        width: calc(50% - 20px);
    }
    .Footer-icons img {
        width: 40px;
        height: 40px;
    }

    .Footer-links a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .links {
        flex-direction: column;
        height: auto;
    }

    .cards {
        width: 45%;
    }

    .Blogs-Photo {
        max-width: 100%;
    }

    .Blogs-item {
        width: calc(100% - 20px); 
    }
    .Blogs-container {
        gap: 20px; 
    }
    .Footer {
        flex-direction: row; 
        justify-content: space-between;
        text-align: left;
        max-width: 100%; 
    }

    .Footer-icons {
        order: 2; 

    .Footer-links {
        order: 3;
    }

    .Footer-h1 {
        order: 1;
        font-size: 24px;
    }
    
}
}

@media (max-width: 480px) {
    .cards {
        width: 90%;
    }

    .Blogs-Photo {
        max-width: 90%;
    }

    .Blogs-container {
        flex-direction: column; 
        gap: 20px;
    }
    .Blogs-item {
        width: 100%;
    }
    .Footer {
        flex-direction: column; 
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
}
